{% extends "base.html" %}
{% block title %}
Face Recognition
{% endblock %}

{% block content %}
<h1>Face Recognition</h1>
<p>Simple interface for a Face Dection / Face Recognition project.</p>
<h3>How to use:</h3>
<p>Submit an image with the "Face Recognition" button.</p>
<p style="text-align:right;">
	Théo JOHANNET
	<br/>
	<a href="https://docs.google.com/document/d/1soVKxzMWg2REqgTxYNQk-_QT71bSm9MX/edit?usp=sharing&ouid=104056008386370586488&rtpof=true&sd=true">
		Détails des recherches Face Recognition en Français
	</a>
</p>
{% endblock %}